
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
background: url('../images/lake5.jpeg');
background-size: contain;;
background-repeat: no-repeat;
z-index: 1;
background-color: grey;
}
.links{
  float: right;
  padding-left: 20px;

}
.signin{

  float: right;
  border-style: outset;
  border-radius: 0px
}
.signup{
  float: right;
  border-style: outset;
  border-radius: 0px
}

img {
  max-width: 100%;
}
h1{
  color: black;
}
.well{
  opacity: 0.6;
}

.thumbnail{
  width: 200px;
  height: 300px;
}
.logo{
  width: 150px;
  height: 60px;
}
.logo-bottom{
  position: relative;
  width: 600px;
  height: 250px;
}


.scum{
  font-size: 125px;
  color: #967963;
}
.sub-scum{
  font-size: 75px;
  color: white;
}
.login{
  color: white;
}
.logo-button{
  height: 60px;
  width: 60px;
  background-color: #AF57EE;
}
.click{
  color: #AF57EE;
}
.spacer{
  height: 450px;

}
.hype{
  color: white;
}
