
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
height: 100%;
background-color: #55524A;
font: helvetica;
}
.ws{
  background-color: #BEAF7F;
  border-style: none;
  margin-left: -15px;
}
.post{
  padding-top: 8px;
  padding-bottom: 8px;
}
.name{
  margin-top: 15px;
  color: #A55C25;
}


.map-show{
  z-index: 200;
  margin-left: -50px;

}
.forecast{
  float: right;
}
.current-weather{
  color: white;
  text-shadow: 2px 2px 2px #000;
}
li{
  list-style: none;
}
.user{
  margin-top: 35px;
}
.user-data{

  color: #9A6935;
  text-shadow: 2px 2px 2px #BAB185;
}
.welcome{
  color: #9A6935;
  text-shadow: 2px 2px 2px #BAB185;
}
.user-name{
  color: #7E00D7;
  margin-top: 1.5px;
  font-size: 20px;
}
.gif{
  width: 120px;
  height: 65px;
  padding-left: 20px;
}
.lake5{
  position: fixed;
  width: 1300px;
  height: 800px;
  z-index: -1;
}
.lake4{
  position: absolute;
  width: 1300px;
  height: 1300px;
  z-index: -1;
}
.lake3{
  position: absolute;
  width: 1300px;
  height: 850px;
  z-index: -1;
}
.lake2{
  position: absolute;
  width: 1300px;
  height: 850px;
  z-index: -1;
}
.links{
  float: right;
  padding-left: 20px;
  font-size: 20px;
  z-index: 300;
}
.signin{
  margin-right: 20px;
  float: right;

}
.signup{
  float: right;

}
.signin-btn{
  background-color: #A1662F;
  border-style: none;
  border-radius: 5px
}
.signup-btn{
  background-color: #A1662F;
  border-style: none;
  border-radius: 5px

}
.local{
  color: white;
}
.upload{
  padding-top: 5px;
  background-color: #9C00F9;
  border-style: none;
  border-radius: 5px
}

img {
  max-width: 100%;
}
h1{
  color: black;
}
.well-header{
  width: 100%;

  opacity: 0.8;
  z-index: 5;
}

.thumbnail{
  width: 200px;
  height: 300px;
}
.logo{
  width: 150px;
  height: 60px;
}
.logo-bottom{
  position: relative;
  width: 600px;
  height: 250px;

}


.scum{
  font-size: 125px;
  color: #967963;
}
.sub-scum{
  font-size: 75px;
  color: white;
}
.login{
  color: white;
}
.logo-button{
  height: 60px;
  width: 60px;
  background-color: #AF57EE;
}
.logo-bottom {
 @media screen and (max-width: 413px){
    display: none;
 }
}
.click{
  color: #AF57EE;
}
.spacer{
  height: 260px;

}
.hype{
  color: white;
}
.weather-span{
  float: right;
  font-size: 20px;
  color: #F3A329;
  padding-left: 20px;
  text-shadow: 2px 2px 2px #000;
}
.news{
  height: 250px;
  overflow: scroll;
}
.map{
  width: 225px;
  height: 300px;
}

.footer{
  background-color: white;
  color: #9A6935;
  border-style: none;
}

.pic-well{
  margin-top: 50px;
  background-color: #BCB082;
  border-style: none;
}
.comment-input{
  width: 100%;
  height: 35px;

}
.input{
  padding-top: 8px;
  padding-bottom: 8px;
}
.upload-button{
  padding-top: 8px;
  padding-bottom: 8px;
}

.brags {
  padding-top: 160px;
}
.weather-info{
  color: #A1662F;
}
.post-button{
  background: linear-gradient(#D87B29, #88360F);
  color: white;
}
.add-button{
  padding-bottom: 8px;
}
.set{
  padding-bottom: 8px;

}
