
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
// background: url('../images/lake5.jpeg');
// background-size: contain;;
// background-repeat: no-repeat;
// z-index: 1;
background-color: grey;
}
.current-weather{
  color: white;
  text-shadow: 2px 2px 2px #000;
}
.user-data{
  color: #7E00D7;
  text-shadow: 1px 1px 1px #000;
}
.user-name{
  color: #7E00D7;
  margin-top: 1.5px;
  font-size: 20px;
}
.lake5{
  position: absolute;
  width: 1300px;
  height: 800px;
  z-index: -1;
}
.lake4{
  position: absolute;
  width: 1300px;
  height: 1300px;
  z-index: -1;
}
.lake3{
  position: absolute;
  width: 1300px;
  height: 850px;
  z-index: -1;
}
.lake2{
  position: absolute;
  width: 1300px;
  height: 850px;
  z-index: -1;
}
.links{
  float: right;
  padding-left: 20px;
  font-size: 20px;
}
.signin{
  margin-right: 20px;
  float: right;

}
.signup{
  float: right;

}
.signin-btn{
  background-color: #9C00F9;
  border-style: none;
  border-radius: 5px
}
.signup-btn{
  background-color: #9C00F9;
  border-style: outset;
  border-radius: 5px

}
.upload{
  padding-top: 5px;
  background-color: #9C00F9;
  border-style: none;
  border-radius: 5px
}

img {
  max-width: 100%;
}
h1{
  color: black;
}
.well{
  opacity: 0.6;
}

.thumbnail{
  width: 200px;
  height: 300px;
}
.logo{
  width: 150px;
  height: 60px;
}
.logo-bottom{
  position: relative;
  width: 600px;
  height: 250px;

}


.scum{
  font-size: 125px;
  color: #967963;
}
.sub-scum{
  font-size: 75px;
  color: white;
}
.login{
  color: white;
}
.logo-button{
  height: 60px;
  width: 60px;
  background-color: #AF57EE;
}
.click{
  color: #AF57EE;
}
.spacer{
  height: 260px;

}
.hype{
  color: white;
}
.weather-span{
  float: right;
  font-size: 20px;
  color: orange;
  padding-left: 20px;
  text-shadow: 2px 2px 2px #000;
}
.news{
  height: 250px;
  overflow: scroll;
}
